{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
{{ codemirror.include_codemirror() }}
{% endblock %}

{% block title %}EditScript{% endblock %}

{% block body %}
<h3 class="ng-binding">编辑测试脚本</h3>
<hr>
<div class="modal fade testresultmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="width:1000px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button
				<h4 class="modal-title">测试结果</h4>
			</div>

			<div class="modal-body">
				<div id="testResultDiv_Error" style="display:none">
					<h5>测试失败！异常信息如下：</h5>
				</div>
				<div id="testResultDiv_Pass" style="display:none">
					<h5>测试通过！输出如下：</h5>
				</div>
				<label id="testResult"></label>
			</div>
		</div>
	</div>
</div>

<div>
	<form action="/editscript/{{id}}" method="post">
		{{ form.csrf_token }}
		<ul class="list-inline">
			<li>
				{{ form.scriptname.label }}{{ form.scriptname(class="form-control") }}
			</li>
			<li>{{ form.desc.label }}{{ form.desc(class="form-control") }}</li>
			<li><a href="javascript:;" onclick="test()" data-toggle="modal" data-target=".testresultmodal"  class="btn btn-warning">测试一下</a></li>
			<li style="margin-left:20px">{{ form.submit(class="btn btn-primary") }}</li>
		</ul>
		<div style="margin-top:20px">{{ form.content.desc }}{{ form.content() }}</div>
	</from>
</div>

<script language="javascript">
	function test() {
		var resultText = document.getElementById("testResult");
		resultText.innerText = "正在获取测试结果，请稍后..."
		var testResultDiv_Error = document.getElementById("testResultDiv_Error");
		var testResultDiv_Pass = document.getElementById("testResultDiv_Pass");
		var code = editor_for_content.getValue();

		$.post("/tests",{"code":code},function(data){
			data = JSON.parse(data);
			if(data.type == "error") {
				testResultDiv_Pass.style.display = 'none';
				testResultDiv_Error.style.display = '';
				resultText.style.color = "red";
			}else if(data.type == "pass"){
				testResultDiv_Error.style.display = 'none';
				testResultDiv_Pass.style.display = '';
				resultText.style.color = "green";
			}else{
				
			}
			resultText.innerText = data.info;
		})
	}
</script>
{% endblock %}













