{% extends "base.html" %}
{% block title %}Report{% endblock %}

{% block body %}
<h3 style="color:#FF7F50">测试报告</h3>
<hr>
<div style="margin-top:10px;">
	<table name="table1" class="table table-striped">
		<thead>
			<th style="width:25%;text-align:center;">接口地址</th>
			<th style="width:10%;text-align:center;">并发数</th>
			<th style="width:15%;text-align:center;">响应时间(min-max)</th>
			<th style="width:10%;text-align:center;">总请求数</th>
			<th style="width:20%;text-align:center;">错误请求数及占比</th>
			<th style="width:20%;text-align:center;">平均响应时间|吞吐量</th>
		</thead>
		<tbody>
{% if reportDetail %}
<tr class="ng-scope">
	<td class="ng-binding">{{reportDetail.接口地址}}</td>
	<td class="ng-binding" style="text-align:center">{{reportDetail.并发数}}</td>
	<td class="ng-binding" style="text-align:center">{{reportDetail.最小and最大响应时间}}</td>
	<td class="ng-binding" style="text-align:center">{{reportDetail.总请求数}}</td>
	<td class="ng-binding" style="text-align:center;color:red">{{reportDetail.错误请求数及占比}}</td>
	<td class="ng-binding" style="text-align:center;color:blue">{{reportDetail.平均响应时间and吞吐量}}</td>
</tr>
{% endif %}
		</tbody>
	</table>
</div>

<div style="margin-top:50px">
	<table class="table table-bordered">
		<tbody>
		{% if reportDetail %}
			<tr>
				<th scope="row">
                    测试时间
				</th>
				<td>{{reportDetail.测试时间}}</td>
			 </tr>
			<tr>
				<th scope="row">
                    接口名称
				</th>
				<td>{{reportDetail.接口名称}}</td>
			 </tr>
			<tr>
				<th scope="row">
                    测试脚本
				</th>
				<td>{{reportDetail.测试脚本}}</td>
			 </tr>
			<tr>
				<th scope="row">
                    错误统计ErrorCounter
				</th>
				<td>{{reportDetail.错误统计ErrorCounter}}</td>
			 </tr>

			<tr>
				<th scope="row">
                    参数计数器CustomTimers
				</th>
                <td>{{reportDetail.参数计数器CustomTimers}}</td>
			 </tr>

			<tr>
				<th scope="row">
                    日志路径
				</th>
				<td>{{reportDetail.日志路径}}</td>
			 </tr>
		{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}
