{% extends "base.html" %}
{% block head %}
{{ super() }}
{{ codemirror.include_codemirror() }}
{% endblock %}
{% block title %}测试脚本{% endblock %}
{% block body %}
{{ super() }}

<div class="modal fade newscriptmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">

	
		<div class="modal-content" style="width:1000px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">新增测试脚本</h4>
			</div>
		
			{% if form %}
			<div style="margin-top:20px;margin-left:17px;margin-right:10px;margin-bottom:20px">
			<form id="newscriptform" method="post">
				{{ form.csrf_token }}
				<div class="row">
					<div id="ipdiv" style="float:left;display:inline;margin-left:17px">
					{{ form.ip.label }}{{ form.ip(class="form-control") }}
					</div>
					<div style="float:left;display:inline;margin-left:17px">
					{{ form.path.label }}{{ form.path(class="form-control") }}
					</div>
					<div id="connect_timeoutdiv" style="float:left;display:inline;margin-left:17px">
					{{ form.connect_timeout.label }}{{ form.connect_timeout(class="form-control") }}
					</div>
					<div id="response_timeoutdiv" style="float:left;display:inline;margin-left:17px">
					{{ form.response_timeout.label }}{{ form.response_timeout(class="form-control") }}
					</div>
					<div style="float:left;display:inline;margin-left:17px">
					{{ form.method.label }}{{ form.method(class="form-control") }}
					</div>
				</div>
				<div class="row">
					<div style="float:left;margin:left;margin-top:20px;margin-left:20px">
						{{ form.need_headers }} {{ form.need_headers.label }}
					</div>
				</div>
				<div id="headersdiv" style="margin-top:20px;">
					{{ form.headers.label }}{{ form.headers(class="form-control") }}
				</div>
				<div style="display:'';margin-top:20px;">
					{{ form.data.label }}{{ form.data(class="form-control") }}
				</div>
				<div style="margin-top:20px;">
					{{ form.returnfield.label }}{{ form.returnfield(class="form-control") }}
				</div>
			</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a id="submit" onclick="validate_on_submit()" class="btn btn-primary">生成脚本</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
    <div class="page-header">
        <h2 class="ng-binding">测试脚本管理</h2>
			{% for message in get_flashed_messages() %}
				{% if message.type == 'error' %}
					<div class="alert alert-danger alert-dismissible fade in" role="alert">
				{% else %}
					<div class="alert alert-success alert-dismissible fade in" role="alert">
				{% endif %}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<h5>
							{{ message.message }}
						</h5>
					</div>
			{% endfor %}
    </div>
<div>
	<a href="/addscript" class="btn btn-primary">手写脚本</a>
	<button data-toggle="modal" data-target=".newscriptmodal" class="btn btn-primary">生成脚本</button>
</div>

<div style="margin-top:10px;">
    <table name="table1" class="table table-striped">
        <tbody>
        <tr>
            <th style="width:10%">ID</th>
            <th style="width:20%">脚本名称</th>
            <th style="width:20%">脚本描述</th>
            <th style="width:20%">最后编辑时间</th>
            <th style="width:15%">创建时间</th>
            <th style="width:15%">&nbsp&nbsp&nbsp&nbsp操作</th>
        </tr>
{% if scripts %}
{% for script in scripts %}
    <tr class="ng-scope">
        <td class="ng-binding">{{script.id}}</td>
        <td class="ng-binding">{{script.filename}}</td>
        <td class="ng-binding">{{script.desc}}</td>
        <td class="ng-binding">{{script.lastedittime}}</td>
        <td class="ng-binding">{{script.createdtime}}</td>
        <td class="ng-bliding">
	<a href="/editscript/{{script.id}}" class="btn btn-primary">编辑</a>
	<button class="btn btn-danger" onclick="del({{script.id}})">删除</button>
		</td>
    </tr>
{% endfor %}

{% endif %}
        </tbody>
    </table>
</div>
</div>

<script language="javascript">
	window.onload=setonclick;
	function setonclick() {
		showHeaders();
		var need_headers = document.getElementById("need_headers");
		var ip = document.getElementById('ip');
		var connect_timeout = document.getElementById('connect_timeout');
		var response_timeout = document.getElementById('response_timeout');
		var returnfield = document.getElementById("returnfield");
		returnfield.placeholder = "返回字段,例:status,message (用于统计该字段各值的分布，多个以','隔开，允许为空)"
		need_headers.onclick=showHeaders;
	}
	
	function showHeaders() {
		var need_headers = document.getElementById("need_headers");
		if(need_headers.checked) {
			headersdiv.style.display = "";
			headers.value = "{'content-type':'application/json'}"
		} else{
			headersdiv.style.display = "none";
		}
		
	}

	function validate_on_submit() {
		var ispass = true;
		var ip = document.getElementById('ip');
		var ipdiv = document.getElementById('ipdiv');
		var path = document.getElementById('path');
		var connect_timeout = document.getElementById('connect_timeout');
		var connect_timeoutdiv = document.getElementById('connect_timeoutdiv');
		var response_timeout = document.getElementById('response_timeout');
		var response_timeoutdiv = document.getElementById('response_timeoutdiv');
		if(ip.value == '') {
			ipdiv.setAttribute("class", "form-group has-error");
			ip.placeholder = "请输入请求地址";
			ispass = false;
		}else{
			if(ipdiv.hasAttribute('class')) {
				ipdiv.setAttribute("class", "");
			}
		}
		
		if(connect_timeout.value != '') {
			if(checkNum(connect_timeout.value)){
				console.log('connect_num pass')
				if(connect_timeoutdiv.hasAttribute('class')) {
					connect_timeoutdiv.setAttribute("class", "");
				}
			}else{
				connect_timeoutdiv.setAttribute("class", "form-group has-error");
				connect_timeout.value = '';
				connect_timeout.placeholder = "请输入数字类型";
				ispass = false;
				console.log('connect_num fail')
			}
		}else{
			if(connect_timeoutdiv.hasAttribute('class')) {
				connect_timeoutdiv.setAttribute("class", "");
			}
		}
		
		if(response_timeout.value != '') {
			if(checkNum(response_timeout.value)){
				console.log('response_num pass')
				if(response_timeoutdiv.hasAttribute('class')) {
					response_timeoutdiv.setAttribute("class", "");
				}
			}else{
				response_timeout.value = '';
				response_timeout.placeholder = "请输入数字类型";
				response_timeoutdiv.setAttribute("class", "form-group has-error");
				ispass = false;
				console.log('response_num fail')
			}
		}else{
			if(response_timeout.hasAttribute('class')) {
				response_timeoutdiv.setAttribute("class", "");
			}
		}
		
		if(ispass) {
			var submit = document.getElementById('submit');
			submit.onclick = null;
			submit.innerHTML = "正在提交..";
			$('#newscriptform').submit();
		}	
	}
	
	function checkNum(input) {
		console.log(input);
		var re = /^[0-9]+\.?[0-9]*$/;
		if (!re.test(input)) { 
			return false;
		}else{
			return true;
		}
	}
	
	function del(id) {
		bootbox.confirm("是否确认删除测试脚本？",function(result){
			if(result) {
                $.get('/delscript/'+id,function(data){
                    if (data == "success"){
                        history.go(0);
                    }
                });
			}else{
				console.log("choice false");
			}
		});
	}
</script>
{% endblock %}
