{% extends "base.html" %}
{% block title %}测试服务管理页{% endblock %}

{% block body %}
{{ super() }}

<div id="addTypeModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalTitle">新增接口</h4>
			</div>
			
			<div class="modal-body">
				<form id="serviceform" action="/services" method="post">
					{{ form.csrf_token }}
					<div id="namediv" style="margin-bottom:10px">
					{{ form.name.label }}{{ form.name(class="form-control") }}
					</div>
					<div id="addressdiv" style="margin-bottom:10px">
					{{ form.address.label }}{{ form.address(class="form-control") }}
					</div>
					<div id="addressdiv" style="margin-bottom:10px">
					{{ form.methodtype.label }}{{ form.methodtype(class="form-control") }}
					</div>
				<form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a id="submit" onclick="validate_on_submit()" class="btn btn-primary">提交</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTypeModal">新增测试接口</button>
</div>

<div style="margin-top:10px;">
    <table name="table1" class="table table-striped">
        <tbody>
        <tr>
            <th style="width:5%;" class="center">ID</th>
            <th style="width:15%" class="center">接口名称</th>
            <th style="width:10%" class="center">请求类型</th>
            <th style="width:45%" class="center">接口地址(url)</th>
            <th style="width:15%" class="center">创建时间</th>
            <th style="width:10%" class="center">操作</th>
        </tr>
{% if services %}
	{% for serv in services %}
		{% if serv.status != -1 %}
			<tr class="ng-scope" id="service_{{serv.id}}">
				<td class="ng-binding center">{{serv.id}}</td>
				<td class="ng-binding center">{{serv.name}}</td>
				<td class="ng-binding center">{{serv.method}}</td>
				<td class="ng-binding center">{{serv.address}}</td>
				<td class="ng-binding center">{{serv.createdtime}}</td>
				<td class="ng-bliding center">
					<a class="btn btn-danger" onclick="del({{ serv.id }})">删除</button>
				</td>
			</tr>
		{% endif %}
	{% endfor %}
{% endif %}
        </tbody>
    </table>
</div>

<script language="javascript">
	function del(id) {
		layer.confirm("是否确认删除服务？",{
			btn:['确定','取消']
		},function(){
			$.get('/delservice/'+id,function(data){
				if(data.result){
					$("#service_"+id).remove();
					layer.msg("删除成功")
				}else{
					layer.msg("删除失败:"+data.errorMsg)
				}
			});
		},function(){
			layer.msg("取消删除")
		});
	}
	
	function validate_on_submit() {
		var ispass = true;
		var name = $("#name");
		var namediv = $("#namediv");
		var address = $("#address");
		var addressdiv = $("#addressdiv");
		if(!name.val()) {
			namediv.attr("class", "form-group has-error");
			name.attr("placeholder","请输入服务名称");
			ispass = false;
		}else {
			namediv.attr("class", "");
			name.attr("placeholder","");
		}
		if(!address.val()) {
			addressdiv.attr("class", "form-group has-error");
			address.attr("placeholder","请输入服务地址");
			ispass = false;
		}else {
			addressdiv.attr("class", "");
			address.attr("placeholder","");
		}
		
		if (ispass) {
			var submit = $('#submit');
			submit.attr("disabled","disabled");
			submit.html("正在提交..");
			$("#serviceform").submit();
		}
	}
</script>

{% endblock %}


