{% extends "base.html" %}
{% block title %}测试任务{% endblock %}

{% block body %}
<!-- Modal -->
{% if jobform %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">新增测试任务</h4>
			</div>

			<div class="modal-body">
				<form id="testjobform" action="/testjobs" method="post">
					{{ jobform.csrf_token }}
					<div class="row">
						<div style="float:left;display:inline;margin-left:17px;width:180px">
							{{ jobform.service.label}} {{jobform.service(class="form-control")}}
						</div>
						<div style="float:left;display:inline;margin-left:10px;width:180px">
							{{ jobform.selectfile.label}} {{jobform.selectfile(class="form-control")}}
						</div>
					</div>
					<div id="concurrentdiv" style="margin-top:10px;">
						{{ jobform.concurrent.label}} {{jobform.concurrent(class="form-control")}}
					</div>
					<div id="run_timediv" style="margin-top:10px;">
						{{ jobform.run_time.label}} {{jobform.run_time(class="form-control")}}
					</div>
					<div id="run_numdiv" style="margin-top:10px;margin-bottom:10px">
						{{ jobform.run_num.label}} {{jobform.run_num(class="form-control")}}
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a id="submit" onclick="validate_on_submit()" class="btn btn-primary">提交测试</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
<!--   =================================上面是新增的模态框=======================        -->

<div id="progressdiv" style="{% if not showstatus %}display:none{% endif %}">
	<div class="modal-body">
		<div>
			<div class="form-group">
				<div class="progress" style="margin-top:10px;">
					<div id="progressbar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%;">已完成：0%
					</div>
				</div>
			</div>
			<div>
			<!-- here comes the result -->
				<p id="runningresult" style="font-family:verdana;font-size:80%;color:#0000EE">正在获取运行数据...</p>
			</div>
		</div>
	</div>
</div>
{% if jobform %}
<div>
    <button id="btn-newjob" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增测试任务</button>
</div>
{% endif %}
<div style="margin-top:10px;">
    <table name="table1" class="table table-striped">
        <tbody>
        <tr>
            <th style="width:5%" class="center">ID</th>
            <th style="width:30%">接口地址</th>
            <th style="width:16%" class="center">测试脚本</th>
            <th style="width:8%" class="center">并发量</th>
            <th style="width:8%" class="center">并发时间</th>
            <th style="width:8%" class="center">循环次数</th>
            <th style="width:12%" class="center">创建时间</th>
            <th style="width:13%" class="center">操作</th>
        </tr>
{% if jobs %}
	{% for job in jobs %}
		    <tr class="ng-scope" id="job_{{job.id}}">
		        <td class="ng-binding center">{{job.id}}</td>
		        <td class="ng-binding">{{job.address}}</td>
		        <td class="ng-binding center">{{job.filename}}</td>
		        <td class="ng-binding center">{{job.concurrent}}</td>
		        <td class="ng-binding center">{{job.run_time}}</td>
		        <td class="ng-binding center">{{job.run_num}}</td>
		        <td class="ng-binding center">{{job.createdtime}}</td>
		        <td class="ng-bliding center">
			{% if job.status == 0 %}
				<button class="btn btn-danger"  value="运行失败" disabled="true">运行异常</button>
				<button class="btn btn-danger" onclick="del({{job.id}})">删除</button>
			{% elif job.status == -2 %}
				<div id="continuediv" class="btn-group" role="group">
					<button id="pausebtn" type="button" class="btn btn-warning dropdown-toggle ladda-button" data-style="slide-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="ladda-label">已暂停</span>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="btn-group-item" onclick="tocontinue({{job.id}})">恢复运行</a></li>
						<li><a class="btn-group-item" onclick="tostop({{job.id}})">停止</a></li>
					</ul>
				</div>
			{% elif job.status == 1 %}
				<div id="pausediv" class="btn-group" role="group">
					<button id="pausebtn" type="button" class="btn btn-warning dropdown-toggle ladda-button" data-style="slide-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="ladda-label">正在运行</span>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="btn-group-item" onclick="topause({{job.id}})">暂停</a></li>
						<li><a class="btn-group-item" onclick="tostop({{job.id}})">停止</a></li>
					</ul>
				</div>
			{% elif job.status == 2 %}
				<a href="/viewreport/{{job.id}}" class="btn btn-info">查看报告</a>
				<button class="btn btn-danger" onclick="del({{job.id}})">删除</button>
			{% endif %}
				</td>
		    </tr>
	{% endfor %}
{% endif %}

        </tbody>
    </table>

</div>
</div>
<script language="javascript">
	window.onload = getRunningStatus;
	function del(id) {
		layer.confirm("是否确认删除记录？",{
			btn:["确定","取消"]
		},function(){
			$.get('/deljob/'+id,function(data){
				if(data.result) {
					$("#job_"+id).remove();
					layer.msg("删除成功")
				}else{
					layer.msg("删除失败:"+data.errorMsg)
				}
			});
		},function(){
			layer.msg("取消删除")
		});
	}
	
	function validate_on_submit() {
		ispass = true;
		var concurrent = document.getElementById("concurrent");
		var concurrentdiv = document.getElementById("concurrentdiv");
		var run_time = document.getElementById("run_time");
		var run_timediv = document.getElementById("run_timediv");
		var run_num = document.getElementById("run_num");
		var run_numdiv = document.getElementById("run_numdiv");
		
		if(concurrent.value == '') {
			concurrentdiv.setAttribute("class", "form-group has-error");
			concurrent.placeholder = "请输入并发量";
			ispass = false;
		}else{
			if(concurrentdiv.hasAttribute('class')) {
				concurrentdiv.setAttribute("class", "");
			}
		}
		
		if(run_time.value == '' && run_num.value == ''){
			run_timediv.setAttribute("class", "form-group has-error");
			run_numdiv.setAttribute("class", "form-group has-error");
			run_time.placeholder = "并发时间和循环次数不能同时为空";
			run_num.placeholder = "并发时间和循环次数不能同时为空";
			ispass = false;
		}else{
			if(run_timediv.hasAttribute('class')) {
				run_timediv.setAttribute("class", "");
			}
			if(run_numdiv.hasAttribute('class')) {
				run_numdiv.setAttribute("class", "");
			}
		}
		
		if(run_time.value != '' && run_num.value != ''){
			run_timediv.setAttribute("class", "form-group has-error");
			run_numdiv.setAttribute("class", "form-group has-error");
			run_time.placeholder = "并发时间和循环次数只能填写一个";
			run_num.placeholder = "并发时间和循环次数只能填写一个";
			ispass = false;
		}
		
		if(ispass) {
			var submit = document.getElementById('submit');
			submit.onclick = null;
			submit.innerHTML = "正在提交..";
			$("#testjobform").submit();
		}
	}

	function topause(id) {
		var l = Ladda.create(document.getElementById('pausebtn'));
		l.start();
		$.post('/pause/'+id,function(data) {
			if (data.status == 2) {
				location.reload()
			} else {
				alert('暂停失败！'+data)
			}
		})
		.always(function(){l.stop();})
	}

	function tocontinue(id,btn) {
		var l = Ladda.create(document.getElementById('pausebtn'));
		l.start();
		$.post('/continue/'+id,function(data) {
			if (data.status == 1) {
				location.reload()
			} else {
				alert('恢复失败！')
			}
		})
		.always(function(){l.stop();})
	}

	function tostop(id,btn) {
		var l = Ladda.create(document.getElementById('pausebtn'));
		l.start();
		$.post('/stopjob/'+id,function(data) {
			if (data.status == -2) {
				location.reload();
			} else {
				alert('停止失败！'+data)
			}
		})
		.always(function(){l.stop();})
	}

	function pop() {
		$('#readme').popover();
	}
</script>
{% endblock %}
